body {
  background-image:#588FB7; 
  background-image: linear-gradient(to bottom right,#459FE0, #D2E7F6);
  height: calc(100vh);
}

.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom right,#459FE0, #D2E7F6);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date-entry{
  color: white;
  font-size: 20px;
  padding: 10px 38px;
  align-items: center;
  flex-direction: column;

}

.drop-table {
  display: flex;
  align-items: center;
  width: '100%';
  flex-direction: column;
  justify-content: center;
  position: center;
  
}


.table-header {
  color: white;
  font-size: 35px;
  padding: 10px 15px;
}

