.grandparent-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  margin-bottom: 125px;
}

.parent-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 544px;
  width: 80%;
}

#card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  background: white;
  text-align: center;
  padding: 16px 33px;
  border-radius: 5px;
  box-shadow: 0px 12px 8px rgb(0 0 0 / 38%);
  width: 450px;
}

.card__form {
  display: flex;
  padding: 20px 33px;
  flex-direction: column;
  justify-content: center; 
  position: relative;
}

.card__form__label {
  text-align: left;
  font-size: 17px;
  color: #5C5C5C;
  padding: 5px 5px;
}

.card__form__textbox {
  
  background: #ECECEC;
  border: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 18px;
  height: 54px;
  margin: 0 0 25px;

}

.submit {
    background: #FFC530;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 14px;
    margin: 16px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #bf9221;
}

body {
  background-image:#588FB7; 
  background-image: linear-gradient(to bottom right,#459FE0, #D2E7F6);
  height: calc(100vh);
}

.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom right,#459FE0, #D2E7F6);
}